* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #D2691E;
    color: #ffffff;
}

header h1 {
    font-size: 50px;
}

header,
section h2,
section h3 {
    font-family: 'Changa', sans-serif;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
    background-color:#ffffff;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 27px;
}

/*
Separador de links (desativado)

li:before {
    content: " | ";
}

li:first-child:before {
    content: none;
}
*/

header nav li a {
    color: #ffffff;
    text-decoration: none;
}

/*Alternância de cor em links*/
a:hover {
    text-decoration: color;
    color: #FFDAB9
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
}

.fachada-loja {
    height: 300px;
    margin-right: 32px;
    border-radius: 5px;
}

.lista-marcas img {
    height: 42px;
    margin-top: 30px;
}

.lista-marcas li {
    display: inline;
    margin-right: 13px;
}

section {
    padding: 24px 0;
}

section h2,
section h3 {
    margin-bottom: 16px;
    color: #D2691E;
    font-size: 27px;
}

section p {
    margin-bottom: 8px;
    text-align: justify;
}

.redes-sociais img {
    height: 37px;
}

.redes-sociais li {
    display: inline;
    margin-right: 27px;
}

.redes-sociais li a {
    text-decoration: none;
}

#contato .container {
    display: block;
}

.metodos-contato {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 3px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #D2691E;
    color: #ffffff;
    font-family: 'Changa', sans-serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/*Alternância da cor no botão*/
form button:hover {
    background-color: #e08848;
}

/*Alternância da cor quando selecionar caixa de texto*/
input:focus, textarea:focus {
    outline-color: #8a420f;
}

/*Modificando rodapé*/
footer {
    background-color: #D2691E;
    padding: 16px 0;
    text-align: center;
    color: #ffffff;
}

iframe {
    max-width: 415px;
    max-height: 340px;
}